[Desktop Entry]
Encoding=UTF-8
Name=Link to Playing a Game · (Baby Got) Blood and Ashes Checkers User Manual
Type=Link
URL=https://drsutherin.gitbooks.io/-baby-got-blood-and-ashes-checkers-user-manual/content/play.html
Icon=text-html
Name[en_US]=BAAC User Manual
